<div style="display: flex;">
  <div style="flex: 1;">
    <h2>Top Unhappy Users</h2>
    <ul class="heroes">
      <li *ngFor="let user of happyUsers">
        <span class="badge">{{user.username}}</span>
        <span>{{user.unhappy_description_string()}}</span>
    <!--     <span>{{user.num_unhappy_messages}}</span>
        <span>{{user.num_happy_messages}}</span> -->
      </li>
    </ul>
  </div>
  <div style="flex: 1;">
    <h2>Top Happy Users</h2>
    <ul class="heroes">
      <li *ngFor="let user of unhappyUsers">
        <span class="badge">{{user.username}}</span>
        <span>{{user.happy_description_string()}}</span>
    <!--     <span>{{user.num_unhappy_messages}}</span>
        <span>{{user.num_happy_messages}}</span> -->
      </li>
    </ul>
  </div>
</div>


<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->