<div style="display: flex;">
  <div style="flex: 1;">
    <h2>Top 5 Unhappy Users</h2>
    <ul class="users">
      <li *ngFor="let user of happyUsers; let i = index">
        <span><b>{{i + 1}}. [{{user.username}}]</b> {{user.unhappy_description_string()}}</span>
      </li>
    </ul>
  </div>
  <div style="flex: 1;">
    <h2>Top 5 Happy Users</h2>
    <ul class="users">
      <li *ngFor="let user of unhappyUsers; let i = index">
        <span><b>{{i + 1}}. [{{user.username}}]</b> {{user.unhappy_description_string()}}</span>
      </li>
    </ul>
  </div>
</div>


<!-- 
Copyright 2017-2018 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->